* text=auto

*.rs linguist-language=Rust
*.js text
*.css text
*.html text
*.json text
*.toml text

help/*.md linguist-language=Markdown
help/*.md linguist-documentation=false

*.wasm binary -diff
pkg/** linguist-generated -diff

*.png binary
*.jpg binary
*.ico binary
